<!DOCTYPE html>
<html>
<head>
  <title>Gigantic</title>
  <%= stylesheet_link_tag    "gigantic/application", media: "all" %>
  <%= javascript_include_tag "gigantic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
